name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            archive: tar.gz

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            archive: zip

          - os: macos-latest
            target: x86_64-apple-darwin
            archive: tar.gz

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Package
        shell: bash
        run: |
          BIN=vault
          VERSION=${GITHUB_REF_NAME}
          DIR=${BIN}-${VERSION}-${{ matrix.target }}

          mkdir $DIR

          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            cp target/${{ matrix.target }}/release/${BIN}.exe $DIR/
            zip -r $DIR.zip $DIR
          else
            cp target/${{ matrix.target }}/release/${BIN} $DIR/
            tar -czf $DIR.tar.gz $DIR
          fi

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.tar.gz
            *.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
